@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans";
}

.container {
  padding: 20px;
  margin: auto;
}

@media (min-width: 781px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 991px) {
  .container {
    width: 950px;
  }
}
@media (min-width: 1191px) {
  .container {
    width: 1150px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1400px;
  }
}

header {
  position: relative;
}
header .container {
  padding-block: 60px;
}
@media (max-width: 781px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
}

.home {
  position: relative;
  overflow-x: clip;
}
.home .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}
.home .container div h1 {
  color: #353a54;
  font-size: 50px;
  max-width: 480px;
}
@media (max-width: 1191px) {
  .home .container div h1 {
    font-size: 40px;
    max-width: 350px;
  }
}
@media (max-width: 781px) {
  .home .container div h1 {
    font-size: 35px;
    line-height: 1.1;
  }
}
.home .container div p {
  color: #747b95;
  line-height: 1.5;
  max-width: 480px;
  font-weight: 500;
  margin: 30px 0 25px;
}
@media (max-width: 1191px) {
  .home .container div p {
    max-width: 350px;
  }
}
.home .container div button {
  background-color: #5275ff;
  font-size: 15px;
  border: 3px solid #5275ff;
  border-radius: 30px;
  padding: 13px 0;
  text-transform: capitalize;
  font-weight: 600;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  cursor: pointer;
}
.home .container div button:hover {
  background-color: transparent;
}
.home .container div button:hover a {
  color: #5275ff;
}
.home .container div button a {
  text-decoration: none;
  color: white;
  padding: 13px 25px;
}
@media (max-width: 781px) {
  .home .container div {
    text-align: center;
  }
}
.home .container img {
  position: relative;
}
@media (max-width: 1191px) {
  .home .container img {
    width: 300px;
  }
}
@media (max-width: 781px) {
  .home .container img {
    width: 200px;
  }
}
@media (max-width: 1500px) {
  .home .container {
    gap: 100px;
  }
}
@media (max-width: 991px) {
  .home .container {
    gap: 70px;
  }
}
@media (max-width: 781px) {
  .home .container {
    flex-direction: column-reverse;
  }
}
.home::before {
  content: "";
  width: 2000px;
  height: 1000px;
  position: absolute;
  right: -70%;
  top: -90%;
  background-image: url(assets/home/bg-pattern-header.svg);
  background-repeat: no-repeat;
}
@media (max-width: 1500px) {
  .home::before {
    right: -100%;
  }
}
@media (max-width: 1191px) {
  .home::before {
    width: 1500px;
    right: -80%;
    top: -180%;
  }
}
@media (max-width: 991px) {
  .home::before {
    width: 400px;
    right: 50%;
    transform: translateX(50%);
    top: -40%;
    background-size: contain;
  }
}

footer {
  background-color: #25293a;
  background-image: url(assets/home/bg-pattern-footer.svg);
  background-size: 70%;
  background-position: left;
  background-repeat: no-repeat;
  margin-top: 40vh;
}
footer .container {
  max-height: 65vh;
}
footer .container .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  transform: translateY(-30vh);
}
footer .container .cards .card {
  width: 325px;
  background-color: white;
  color: #25293a;
  padding: 50px 0;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0px 4px 25px 5px rgba(0, 0, 0, 0.1);
}
footer .container .cards .card div h4 {
  font-size: 18px;
  margin-bottom: 25px;
}
@media (max-width: 1191px) {
  footer .container .cards .card div h4 {
    margin-bottom: 10px;
  }
}
@media (max-width: 781px) {
  footer .container .cards .card div h4 {
    margin-bottom: 25px;
  }
}
footer .container .cards .card div h2 {
  font-size: 60px;
  font-weight: 800;
}
footer .container .cards .card div p {
  font-weight: 500;
  margin: 10px 0 50px;
}
@media (max-width: 1191px) {
  footer .container .cards .card div p {
    margin: 10px 0 20px;
  }
}
@media (max-width: 781px) {
  footer .container .cards .card div p {
    margin: 10px 0 50px;
  }
}
@media (min-width: 1191px) {
  footer .container .cards .card div button {
    display: none;
  }
}
@media (max-width: 781px) {
  footer .container .cards .card div button {
    display: none;
  }
}
footer .container .cards .card ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: #747b95;
  margin-bottom: 40px;
}
@media (max-width: 1191px) {
  footer .container .cards .card ul {
    align-items: start;
  }
}
@media (max-width: 781px) {
  footer .container .cards .card ul {
    margin-bottom: 40px;
    align-items: center;
  }
}
footer .container .cards .card button {
  background-color: #e4eaff;
  font-size: 15px;
  border: 3px solid #e4eaff;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.2s;
  cursor: pointer;
}
footer .container .cards .card button:hover {
  background-color: transparent;
}
footer .container .cards .card button a {
  padding: 13px 25px;
  display: block;
  color: #5275ff;
}
@media (max-width: 1191px) {
  footer .container .cards .card > button {
    display: none;
  }
}
@media (max-width: 781px) {
  footer .container .cards .card > button {
    display: block;
  }
}
footer .container .cards .card:nth-of-type(2) {
  background-color: #5275ff;
  color: white;
}
footer .container .cards .card:nth-of-type(2) ul {
  color: white;
}
footer .container .cards .card:nth-of-type(2) button:hover a {
  color: white;
}
@media (max-width: 781px) {
  footer .container .cards .card > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
footer .container .cards .card:nth-of-type(2) {
  background-image: url(assets/home/bg-pattern-pricing.svg);
  background-repeat: no-repeat;
  background-position: center -40vh;
}
@media (max-width: 1191px) {
  footer .container .cards .card {
    width: 650px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 40px;
    padding-right: 100px;
  }
}
@media (max-width: 781px) {
  footer .container .cards .card {
    padding: 30px 0;
    flex-direction: column;
    width: calc(100% - 20px);
    align-items: center;
  }
}
@media (max-width: 1191px) {
  footer .container .cards {
    flex-direction: column;
    transform: translateY(-50vh);
  }
}
@media (max-width: 781px) {
  footer .container .cards {
    transform: translateY(-30vh);
  }
}
footer .container .coming-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-15vh);
}
footer .container .coming-in div h4 {
  color: white;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
footer .container .coming-in div h4 span {
  color: #5275ff;
}
footer .container .coming-in div .countdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
footer .container .coming-in div .countdown > div {
  text-align: center;
  background-color: #333951;
  color: rgba(255, 255, 255, 0.7);
  padding: 20px 0;
  border-radius: 15px;
  width: 135px;
}
@media (max-width: 781px) {
  footer .container .coming-in div .countdown > div {
    padding: 12px 0;
    width: 65px;
  }
}
footer .container .coming-in div .countdown > div > div {
  font-size: 60px;
  font-weight: 800;
  letter-spacing: 3px;
  color: white;
}
@media (max-width: 781px) {
  footer .container .coming-in div .countdown > div > div {
    font-size: 30px;
  }
}
@media (max-width: 781px) {
  footer .container .coming-in div .countdown > div p {
    font-size: 13px;
  }
}
footer .container .coming-in button {
  background-color: #5275ff;
  font-size: 15px;
  border: 3px solid #5275ff;
  border-radius: 30px;
  padding: 13px 0;
  text-transform: capitalize;
  font-weight: 600;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  cursor: pointer;
}
footer .container .coming-in button:hover {
  background-color: transparent;
}
footer .container .coming-in button:hover a {
  color: #5275ff;
}
footer .container .coming-in button a {
  text-decoration: none;
  color: white;
  padding: 13px 25px;
}
@media (max-width: 1191px) {
  footer .container .coming-in {
    transform: translateY(-30vh);
  }
}
@media (max-width: 781px) {
  footer .container .coming-in {
    flex-direction: column;
    text-align: center;
    gap: 30px;
    transform: translateY(-10vh);
  }
}
@media (max-width: 1191px) {
  footer .container {
    max-height: 95vh;
  }
}
@media (max-width: 781px) {
  footer .container {
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
@media (max-width: 1191px) {
  footer {
    margin-top: 60vh;
  }
}
@media (max-width: 781px) {
  footer {
    margin-top: 40vh;
    background-position: bottom;
  }
}/*# sourceMappingURL=main.css.map */